 <footer>
    <div class="copyright">
<div class="container">
<div class="row">
    <div class="col"><hr>
   Succulent Tweet © <a href="#" target="_blank"> </a>
    
    </div>    
        </div>
    </div>
        </div>
<p id="pagetop"><a href="#">TOP</a></p>   
  </footer>